

$color-background: #dfe6e9;
$color-white: #f5f6fa;
$color-grey: #718093;
$color-grey-dark: darken(#636e72, 10%);
$color-green: #00cec9;
$color-blue: #48dbfb;
$color-red: #ff7675;

.btn-blue {
    display: inline-block;
    text-decoration: none;
    color: $color-blue;
    background-color: $color-grey;
    padding: 0.25rem 0.5rem;
    border: 1px solid $color-blue;
    border-radius: 3px;
    cursor: pointer;

    &:hover { background-color: lighten($color-grey, 10%) }
    &:active { background-color: $color-blue }
}
.btn-green {
    display: inline-block;
    text-decoration: none;
    color: $color-green;
    background-color: $color-grey;
    padding: 0.25rem 0.5rem;
    border: 1px solid $color-green;
    border-radius: 3px;
    cursor: pointer;

    &:hover { background-color: lighten($color-grey, 10%) }
    &:active { background-color: $color-green }
}
.btn-red {
    display: inline-block;
    text-decoration: none;
    color: $color-red;
    background-color: $color-grey;
    padding: 0.25rem 0.5rem;
    border: 1px solid $color-red;
    border-radius: 3px;
    cursor: pointer;

    &:hover { background-color: lighten($color-grey, 10%) }
    &:active { background-color: $color-red }
}